# Streamlit for the web interface
streamlit==1.39.0

# OpenCV for computer vision tasks
opencv-python-headless==4.9.0.80  # Headless version for environments without GUI support
imutils==0.5.4  # Utility functions for OpenCV

# Mediapipe for hand and face mesh detection
mediapipe==0.10.15

# Scipy for distance calculations (used in EAR calculation)
scipy==1.10.1

# Numpy for numerical operations
numpy==1.24.4

# Plotly for interactive visualizations (if needed)
plotly==5.22.0

# Protobuf (required by Mediapipe)
protobuf==3.20.3

# Other potential requirements
Pillow==10.4.0  # For image processing, if needed
